@import url("https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,700|Poppins:200,200i,300,300i,400,500,500i,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,700|Poppins:200,200i,300,300i,400,500,500i,600,700,800,900&display=swap");

.administration{
  margin-right:1%;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}

.navbar .nav-item:not(:last-child) {
  margin-right: 20px;
}

.dropdown-toggle::after {
   transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

.dropdown-menu {
  margin-top: 0;
  background-color: #f8f9fa!important;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color:red;
}

.title{
  color: black;
  font-weight: 600;
}

.nav-link:hover{
  color: red;
}
.navbar-light .navbar-nav .nav-link {
  color: black;
  font-weight: 600;
}
.nav-link:hover{
  color: red;
}
.nav-item .dropdown{
  background-color: white;
}

.flex-center-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
}




h1, h2, h3, h4, h5 {
  font-family: "Poppins", sans-serif;
  color: #191d34;
}


h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}


ul {
  margin: 0;
  padding: 0;
}


li {
  list-style: none;
}


p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #909092;
  margin-bottom: 13px;
  font-family: "Open Sans", sans-serif;
}


label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}


*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}


::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}


::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}


*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}


.header-area {
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 9;
}

@media (max-width: 767px) {
  .header-area {
    padding-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area {
    padding-top: 0;
  }
}

.header-area .main-header-area {
  background: #fff;
}

@media (max-width: 767px) {
  .header-area .main-header-area {
    padding: 10px 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area {
    padding: 10px 10px;
  }
}

.header-area .main-header-area .logo-img {
  text-align: center;
}

@media (max-width: 767px) {
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (max-width: 767px) {
  .header-area .main-header-area .logo-img img {
    width: 70px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .logo-img img {
    width: 70px;
  }
}

.header-area .main-header-area .Appointment {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}

.header-area .main-header-area .Appointment .socail_links ul li {
  display: inline-block;
}

.header-area .main-header-area .Appointment .socail_links ul li a {
  color: #A8A7A0;
  margin: 0 10px;
  font-size: 15px;
}

.header-area .main-header-area .Appointment .socail_links ul li a:hover {
  color: #fff;
}

.header-area .main-header-area .Appointment .book_btn {
  margin-left: 30px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .Appointment .book_btn {
    margin-left: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area .Appointment .book_btn {
    margin-left: 0;
  }
}

.header-area .main-header-area .Appointment .book_btn a {
  background: #009DFF;
  padding: 12px 26px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid transparent;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .Appointment .book_btn a {
    padding: 12px 20px;
  }
}


.header-area .main-header-area .Appointment .book_btn a:hover {
  background: #fff;
  color: #009DFF;
  border: 1px solid #009DFF;
}


.header-area .main-header-area .main-menu {
  text-align: right;
}


.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
  margin-left: 40px;
}


.header-area .main-header-area .main-menu ul li a {
  color: #102955;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  padding: 37px 0;
  font-family: "Poppins", sans-serif;
  position: relative;
}

@media (min-width: 992px) and (max-width: 1200px) {

  .header-area .main-header-area .main-menu ul li a {
    font-size: 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {

  .header-area .main-header-area .main-menu ul li a {
    font-size: 15px;
  }
}


.header-area .main-header-area .main-menu ul li a i {
  font-size: 9px;
}

@media (max-width: 767px) {

  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

.header-area .main-header-area .main-menu ul li a::before {
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: scaleX(0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}


.header-area .main-header-area .main-menu ul li a:hover::before {
  opacity: 1;
  transform: scaleX(1);
}


.header-area .main-header-area .main-menu ul li a.active::before {
  opacity: 1;
  transform: scaleX(1);
}


.header-area .main-header-area .main-menu ul li:hover > a {
  color: #eb592d !important;
}


.header-area .main-header-area .main-menu ul li .submenu {
  position: absolute;
  left: 0;
  top: 120%;
  background: #fff;
  width: 200px;
  z-index: 9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}


.header-area .main-header-area .main-menu ul li .submenu li {
  display: block;
  margin-left: 0;
}


.header-area .main-header-area .main-menu ul li .submenu li a {
  padding: 10px 15px;
  position: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  color: #000;
}


.header-area .main-header-area .main-menu ul li .submenu li a::before {
  display: none;
}


.header-area .main-header-area .main-menu ul li .submenu li:hover a {
  color: #000;
}


.header-area .main-header-area .main-menu ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.header-area .main-header-area .main-menu ul li:hover > a::before {
  opacity: 1;
  transform: scaleX(1);
}


.header-area .main-header-area .main-menu ul li:first-child a {
  padding-left: 0;
}


.header-area .main-header-area.sticky {
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 99;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  background: rgba(255, 255, 255, 0.96);
}

@media (max-width: 767px) {

  .header-area .main-header-area.sticky {
    padding: 10px 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area.sticky {
    padding: 10px 10px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area.sticky {
    padding: 10px 20px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area.sticky {
    padding: 10px 20px;
  }
}

.header-area .main-header-area.sticky .main-menu {
  padding: 0;
}

.header-area .header-top_area {
  padding: 19px 0;
  background: #1c1818;
}

.header-area .header-top_area .social_media_links {
  text-align: right;
}

@media (max-width: 767px) {
  .header-area .header-top_area .social_media_links {
    text-align: center;
  }
}


.header-area .header-top_area .social_media_links a {
  font-size: 18px;
  color: #C7C7C7;
  margin-left: 10px;
}

.header-area .header-top_area .social_media_links a:hover {
  color: red;
}



.header-area .header-top_area .short_contact_list {
  text-align: left;
}

@media (max-width: 767px) {
  .header-area .header-top_area .short_contact_list {
    text-align: center;
  }
}

.header-area .header-top_area .short_contact_list ul li {
  display: inline-block;
}


.header-area .header-top_area .short_contact_list ul li a {
  font-size: 16px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-right: 50px;
}

@media (max-width: 767px) {

  .header-area .header-top_area .short_contact_list ul li a {
    margin-left: 0;
    margin-right: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    display: inline-block;
  }
}






h1 {
  font-size: 36px;
}


h2 {
  font-size: 30px;
}


h3 {
  font-size: 24px;
}


h4 {
  font-size: 18px;
}


h5 {
  font-size: 16px;
}


h6 {
  font-size: 14px;
}

/*animation Arrow alarm*/
.collapsible-link::before {
  content: '';
  width: 14px;
  height: 2px;
  background: #333;
  position: absolute;
  top: calc(50% - 1px);
  right: 1rem;
  display: block;
  transition: all 0.3s;
}


.collapsible-link::after {
  content: '';
  width: 2px;
  height: 14px;
  background: #333;
  position: absolute;
  top: calc(50% - 7px);
  right: calc(1rem + 6px);
  display: block;
  transition: all 0.3s;
}

.collapsible-link[aria-expanded='true']::after {
  transform: rotate(90deg) translateX(-1px);
}

.collapsible-link[aria-expanded='true']::before {
  transform: rotate(180deg);
}
